.editar-container-row{
	display: flex;
	flex-direction: row;
}
.editar-container{
	display: flex;
	flex-direction: column;
	height: 69vh;
	background-color: #1a1e29;
	padding:15px;
	align-items: center;
	width: 50vw;
	border-radius: 15px;
	box-shadow: 2px 2px 7px 1px #000;
	border:1px #000 solid;
	color: #fafafa;
	font-family: Nunito;
	text-shadow:1px 1px 1px #000;
	
}

.editar-container-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}
.editar-container>h1{
	color: #fafafa;
	font-size: 21px;
	
	
	text-align: center;
}