.games-container{
	display: grid;
	width:70vw;
	height: 80vh;
	grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
	gap:15px
}
.card-game{
	background-color: #263241;
	border-radius: 15px;
	padding: 3px;
	display: flex;
	width:200px;
	align-items:center;
	justify-content:space-evenly;
	height:220px;
	font-family:Nunito;
	flex-direction: column;
}
.game-info-opc{
	display: flex;
	flex-direction: row;
}
.price-container{
	background-color: #ff6666;
	width: 35%;
	height: 20px;
	font-size: 15px;
	padding:5px 0;
	border-radius:5px 0 0 5px;
}
.cart-container{
	background-color: #339933;
	width: 50%;
	height: 100%;
	padding:5px 0;
	
	border-radius:0 5px 5px 0;
	border: 0px;
}
.cart-container:hover {
	background-color: #ee2233;
	
}
.buy-container{
	display: flex;
	text-align:center;
	width:100%;
	flex-direction: row;
}